# Active Directory / LDAP connection settings
LDAP_HOST=your_ad_server.com
LDAP_USER=service_accnt
LDAP_PASSWORD=password
LDAP_BASE_DN=OU=People,DC=custom,DC=com

# LDAP connection options
LDAP_PORT=636
LDAP_USE_SSL=true
LDAP_VALIDATE_CERT=false

# Logging
LOG_FILE=pexavatar.log
